<table class="uk-table-striped uk-table-small">
    <thead>
        <tr>
            <th>Recognition Id</th>
            <th>File Name</th>
            <th>Done</th>
        </tr>
    </thead>
    <tbody>
        {{#recognitions}}
            <tr>
                <td>{{id}}</td>
                <td>{{uploadFileName}}</td>
                <td>
                    <div
                        uk-icon="icon: download"
                        {{^isCompleted}}hidden{{/isCompleted}}
                        hx-get="recognition?operationId={{id}}"
                        hx-trigger="click"
                        hx-target="#recognition-text"
                    >
                    </div>
                </td>
            </tr> 
        {{/recognitions}}
    </tbody>
</table>
